In [61]:
import praw
import datetime as dt
import time
import numpy as np
import pandas as pd

NUMPOSTS = 25
reddit = praw.Reddit('investor')
#early: 20-30 minutes old
#mid: 60-75 minutes old
#mature: >5 hrs old
#numComments: early comments number
columns = ['title', 'earlyScore', 'midScore', 'numComments','matureScore']
df = pd.DataFrame(columns=columns)

data = [[0,0,0,0,0]]

#df = pd.DataFrame()
subreddit = reddit.subreddit("memeeconomy")
ct = 0
def get_date(sub):
    time = sub.created
    return dt.datetime.fromtimestamp(time)

print(str(dt.datetime.now()))

2018-08-10 00:49:27.969782

In [47]:
s = subreddit.new(limit=5).next()
df.append({'id': s.id, 'earlyScore': s.score}, ignore_index=True)

       id earlyUpvotes midUpvotes numComments upvotesMature
0  963ubk            0        NaN         NaN           NaN

In [64]:


for submission in subreddit.new(limit=100):
    createdTime = submission.created - 8 * 3600 #to account for time difference
    ageMinutes = (-createdTime + time.mktime(dt.datetime.now().timetuple()))/60

    #print('dateTime: ' + str(get_date(submission)) + '\n diff (mins): ' + str(ageMinutes) + '\n title: ' + str(submission.title))
    #print('score: ' + str(submission.score)) 

    if (ageMinutes < 30) & (ageMinutes > 20):
        #print('right range')
        df.loc[submission.id] = [submission.title, submission.score,0,0,0]
       # np.append(data, [submission.id, submission.score, 0, 0, 0])
        print(df)
        
    if (ageMinutes < 75) & (ageMinutes > 60):
        df.at[submission.id, 'midScore'] = submission.score
        
    if (ageMinutes > 5 * 60 ) & (ageMinutes < 5*60 + 3):
        df.at[submission.id, 'matureScore'] = submission.score
    
    
    

    #print('--------------------------')

SyntaxError: can't assign to function call (<ipython-input-64-0ae0d734a8e8>, line 17)

In [63]:
df

,title,earlyUpvotes,midUpvotes,numComments,upvotesMature
963s28,It's making a comeback - INVEST!,0,0,0,0